.add-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  padding: 30px;
}

.add-post-form label {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-post-form input,
.add-post-form textarea {
  font-size: 18px;
  padding: 12px;
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-post-form input[type="file"] {
  margin-bottom: 36px;
}

.add-post-form .selected-image p {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-post-form button {
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .add-post-container {
    height: 400px;
    width: 400px;
  }
  
  .add-post-form {
    width: 90%;
    padding: 20px;
  }
}

.custom-button {
  background-color: #ff206e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #ff206e;
}

.form-group {
  margin-bottom: 24px;
}

.form-group label {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-group select {
  font-size: 18px;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23cccccc' d='M15.2 7.8L10 13.1 4.8 7.8c-.6-.6-1.6-.6-2.1 0-.6.6-.6 1.6 0 2.1l6.9 7c.6.6 1.6.6 2.1 0l6.9-7c.6-.6.6-1.6 0-2.1-.6-.6-1.6-.6-2.1 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: auto 50%;
}

@media (max-width: 768px) {
  .form-group label {
    font-size: 18px;
  }
  
  .form-group select {
    font-size: 16px;
    padding: 10px;
  }
}

