.add-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.add-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  padding: 30px;
}

.add-post-form label {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-post-form input,
.add-post-form textarea {
  font-size: 18px;
  padding: 12px;
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-post-form input[type="file"] {
  margin-bottom: 36px;
}

.add-post-form .selected-image p {
  font-size: 20px;
  margin-bottom: 10px;
}

.add-post-form button {
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .add-post-container {
    height: 400px;
    width: 400px;
  }
  
  .add-post-form {
    width: 90%;
    padding: 20px;
  }
}

.custom-button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #bd002f;
}
